/* Resetting padding, margin and box-sizing */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Global font settings */
html {
  font-family: "Montserrat", sans-serif;
}

/* Body styling */
body {
  background: #eee;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  padding: 0 16px;
}

/* Header styles */
header {
  background-color: #f5ba13;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Header title styling */
header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

.centered-title {
  text-align: center;
  width: 100%;
  margin: 20px auto;
}

/* Optional: To style the <h2> tag for consistency */
.centered-title h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #333; /* Adjust this to match your theme */
}

/* Footer styles */
footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  color: #000000; /* Light text for contrast */
  font-size: 18px; /* Slightly smaller font for footer text */
  padding: 10px;
}

footer p {
  margin: 0;
}

/* Note styling */
.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}

.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}

.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #f5ba13;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}

/* Create note form styling */
form.create-note {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}

form.create-note input,
form.create-note textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}

form.create-note button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #f5ba13;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

/* Header button styling */
header button {
  background-color: #f5ba13;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.3s;
}

/* Header button hover effect */
header button:hover {
  background-color: #d49a11;
  transform: scale(1.05);
}

/* Header button active effect */
header button:active {
  background-color: #b78909;
  transform: scale(0.98);
}
